<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/assets/stylesheets/styles.css">
  <title>Testing!</title>
</head>

<body ng-app="App" ng-controller="WeatherCtrl as vm">
  <h2 class="logo">-HUB-</h2>
  <div id="main">
    <h1 class="welcome">
      Good evening Jeffery!
    </h1>
    <h1 id="country">
      <img id="flag" src="http://www.geonames.org/flags/x/{{vm.countryCode | lowercase}}.gif" /></h1>
    <input type="text" placeholder="Name of City" ng-model="vm.city">
    <br>
    <button class="btn btn-info" ng-click="vm.getWeather()">
    Get Weather!</button>
  </div>

  <div class="weather" ng-if="vm.show">
    <h1>Location: {{vm.weather.data.name}}</h1>
    <img src="http://www.geonames.org/flags/x/{{vm.countryCode | lowercase}}.gif" alt="">
    <h2>Current temperature:
      <span id="temperature">
        {{vm.weather.data.main.temp_max}}
      </span>&deg;</h2>

<p>{{vm.weather.data.weather[0].description}}</p>

<img src="http://openweathermap.org/img/w/03d.png" ng-if="vm.cloud" alt="">
  </div>


</body>


<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>
