
// @import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background: mintcream;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  margin-top:100px;
}
input {
  height: 30px;
  width:75%;
  border-radius: 10px ;
  border-color: 1px white;
  margin:20px;
}
*:focus {
    outline: 0;
}
