body {
  background: mintcream;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: -20px; }

.header {
  background: #303F9F;
  height: 60px;
  color: white; }
  .header .time {
    position: relative;
    left: 20px;
    top: 10px; }
  .header h3 {
    text-align: left; }

.welcome hr {
  width: 50%; }

canvas {
  height: 100px; }

input {
  height: 30px;
  width: 75%;
  border-radius: 10px;
  border-color: 1px white;
  margin: 20px; }

*:focus {
  outline: 0; }

img {
  width: 100px;
  margin-top: 50px; }

.weather-info h3 {
  text-align: center; }

.news h5 {
  top: 50px;
  position: relative; }

.news p {
  float: left; }
  .news p img {
    width: 120px;
    position: relative;
    right: 40px;
    float: left; }

@media screen and (max-width: 650px) {
  .news img {
    width: 300px;
    clear: both; } }

.svg-container {
  width: 100%; }

.clouds {
  animation: scroll 8s linear infinite; }

.clouds2 {
  animation: scroll 30s linear infinite;
  -webkit-transform: rotate(100deg); }

@keyframes scroll {
  0% {
    transform: translateX(550px); }
  100% {
    transform: translateX(-525px); } }
